@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Paytone+One&display=swap');


.join_section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  padding-top: 80px;
}

.heading {
  color: #ffffff;
  line-height: 1.4;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Passion one', cursive;
  /* font-family: 'Paytone One', sans-serif; */
  text-align: center;
}

.input option {
  background-color: #0f263a;
}

.mandatory {
  color: #f32053;
}

.red {
  display: flex;
  color: #f32053;
  justify-content: center;
  align-items: center;
}

.para {
  color: #ffffff;
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 90px;
  width: 90%;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 100px;
  padding-top: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.input_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.input_label {
  font-weight: 100;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 15px;
  padding-left: 18px;
  font-family: 'Open Sans', sans-serif;
}

.input {
  /* all: unset; */
  background-color: #00000000;
  border: 1px solid #d9d9d9;
  padding: 10px 20px;
  width: 50vw;
  height: 9vh;
  color: #a8a8a8;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.select_input {
  all: unset;
  background-color: #00000000;
  border: 1px solid #d9d9d9;
  padding: 25px 20px;
  color: #a8a8a8;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  width: 95%;
}

.btn {
  font-family: inherit;
  font-size: 20px;
  background: #f32053;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn:hover span {
  transform: translateX(5em);
}

.btn:active {
  transform: scale(0.95);
}

.linkBtn {
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@media screen and (max-width: 768px) {
  .join_section {
    padding: 20px;
  }

  .heading {
    padding-left: 10px;
    font-size: 32px;
  }

  .para {
    font-size: 16px;
  }

  .input {
    width: 80vw;
  }

  .input_label {
    font-size: 20px;
  }

  .btn {
    font-size: 18px;
  }

  .form {
    padding: 10px;
  }
}
.input {
  text-align: left;
}

.input::-webkit-input-placeholder {
  text-align: left;
}

.input:-moz-placeholder {
  text-align: left;
}
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.linkBtn {
  display: block;
  width: 60%;
  margin: 20px auto;
}
