@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Paytone+One&display=swap');

.card {
  padding: 1em;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.cardLeft {
  background-color: #ffa701;
  height: 100%;
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cardRight {
  background-color: #384c5c;
  height: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.number {
  font-size: 5em;
  color: white;
  text-shadow: -6px 2px 6px #2a2a2a82;
}

.content {
  height: fit-content;
  padding: 1em;
  color: white;
  font-size: 1.8em;
  font-family: 'Inter', sans-serif;
}

.scroll {
  height: 400px;
  display: flex;
  padding: 3em;
  align-items: center;
  justify-content: center;
}

.smallTitle {
  font-size: 1.5em;
  color: #89baee;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.title {
  font-size: 50px;
  color: white;
  font-family: 'Passion One', cursive;
  margin-bottom: 0.5em;
}

.title span {
  color: #a8ecf0;
}

.context {
  font-size: 1.3em;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.8em;
}

.hero {
  text-align: center;
  width: 80%;
  margin: auto;
}

.mainDiv {
  margin: 5em 0;
}

.button {
  background-color: #89baee;
  margin: 1em;
  padding: 0.5em 0.5em;
  border-radius: 50%;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  cursor: pointer;
}

@media screen and (max-width: 1317px) and (min-width: 1023px) {
  .card {
    padding: 0.5em;
    height: 70%;
  }

  .content {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1022px) and (min-width: 768px) {
  .smallTitle {
    font-size: 1.8em;
  }

  .title {
    font-size: 3em;
  }

  .context {
    font-size: 20px;
  }

  .card {
    padding: 0.2em;
    height: 80%;
  }

  .content {
    font-size: 1.2em;
  }

  .scroll {
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding: 0em;
    height: 90%;
  }

  .smallTitle {
    font-size: 1.2em;
  }

  .title {
    font-size: 2em;
  }

  .content,
  .context {
    font-size: 0.875em;
  }

  .scroll {
    padding: 1em 0.2em;
    height: 300px;
  }

  .number {
    font-size: 3em;
  }

  .cardLeft {
    flex-basis: 12%;
    padding: 0.5em;
  }
}
