.adminEvents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.btn {
    font-family: inherit;
    font-size: 20px;
    background: #f32053;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  .btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .btn:hover span {
    transform: translateX(5em);
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .eventList{
    display: flex;
    flex-direction: column;
    gap:2em;
    margin:2em;

  }
  .events{
    cursor: pointer;
  }