@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Paytone+One&display=swap");

.mainabout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.teammainhead {
  margin-left: 60px;
}
.leftcolumnteam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
}
.teammssg {
  font-size: 20px;
  text-align: justify;
  color: white;
  font-weight: 400;
  margin-left: 60px;
  width: 45vw;
}
.teambtn {
  margin-left: 60px;
  margin-top: 30px;
}
.teamhead1 {
  color: #a8ecf0;
  font-weight: bold;
  font-size: 2.8rem;
  font-family: "Open Sans", sans-serif;
  font-family: "Paytone One", sans-serif;
}
.teamhead2 {
  color: white;
  margin-right: 16px;
}
.aboutteamhead {
  color: #89baee;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 750px) {
  .mainabout {
    align-items: center;
    flex-direction: column;
  }
  .teammssg {
    width: 80vw;
    margin-left: 20px;
  }
  .teamhead1 {
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
    white-space: nowrap;
  }
  .leftcolumnteam {
    align-items: center;
  }
  .teambtn {
    margin-top: -10px;
  }
  .teammainhead {
    margin-left: 20px;
  }
}
