@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Paytone+One&display=swap");

.mainabout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.teammainhead {
  margin-left: 60px;
}
.leftcolumnteam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
}
.teammssg {
  font-size: 20px;
  text-align: justify;
  color: white;
  font-weight: 400;
  margin-left: 60px;
  width: 45vw;
}
.teambtn {
  margin-left: 60px;
  margin-top: 30px;
}
.teamhead1 {
  color: #a8ecf0;
  font-weight: bold;
  font-size: 2.8rem;
  font-family: "Open Sans", sans-serif;
  font-family: "Paytone One", sans-serif;
}
.teamhead2 {
  color: white;
  margin-right: 16px;
}
.aboutteamhead {
  color: #89baee;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 750px) {
  .mainabout {
    align-items: center;
    flex-direction: column;
  }
  .teammssg {
    width: 80vw;
    margin-left: 20px;
  }
  .teamhead1 {
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
    white-space: nowrap;
  }
  .leftcolumnteam {
    align-items: center;
  }
  .teambtn {
    margin-top: -10px;
  }
  .teammainhead {
    margin-left: 20px;
  }
}
.btn {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.btn .span {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  white-space: nowrap;
}

.btn svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.btn:hover:before {
  width: 100%;
  background: #f32053;
}
.btn:hover span {
  color: #fff;
}

.btn:hover svg {
  transform: translateX(0);
  stroke: #fff;
}

.btn:active {
  transform: scale(0.95);
}
.down_arrow {
  position: absolute;
  top: 67vh;
  left: 48vw;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.down_arrow:hover {
  transform: translateY(2px) scale(0.8);
}
@media screen and (max-width: 768px) {
  .landing {
    display: block;
    height: 70vh;
  }
  .heading {
    font-size: 30px;
    margin-bottom: 60px;
    padding-top: 100px;
  }
  .btn {
    margin-top: 10px;
  }
  .down_arrow {
    top: 67vh;
    left: 44vw;
  }
}
