@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Paytone+One&display=swap');

@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/PaytoneOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url(/fonts/Raleway-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: url(/fonts/Oswald-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  src: url(/fonts/PassionOne-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url(/fonts/Inter-SemiBold.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #0f263a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0f263a;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.vision_section {
  background-image: url(../components/assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
